.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    grid-auto-flow: column;
    height: 600px;
}
/* Estilo de los elementos dentro del contenedor */
.item {
    border: 5px solid #00bcd4; /* Borde sólido de 5px color azul claro */
    font-size: 4rem; /* Tamaño de fuente grande */
}
