/* Estilo del contenedor principal */
.contenedor {
    border: 5px solid #e1bee7; /* Borde sólido de 5px color púrpura claro */
    background-color: #fff1ff; /* Fondo blanco rosado */
    display: grid; /* Contenedor utiliza display grid */
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 300px); /* Columnas con tamaño mínimo y máximo especificado */
    grid-template-rows: repeat(3, auto); /* Tres filas automáticas con altura determinada por el contenido */
}

/* Estilo de los elementos dentro del contenedor */
.item {
    border: 5px solid #00bcd4; /* Borde sólido de 5px color azul claro */
    font-size: 2rem; /* Tamaño de fuente grande */
}
